* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 330px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

main > div:first-child {
    background: url(images/bg-pattern-card.svg) center/cover no-repeat;
    width: 100%;
    height: 35%;
    position: relative;
    border-radius: 20px 20px 0 0;
}

main > div:first-child div {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    border-radius: 50%;
    padding: 5px;
    background: white;
}

main > div:first-child span {
    background: url(images/image-victor.jpg) center/cover no-repeat;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}

main > div:last-child {
    padding: 40px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

main > div:last-child > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div:last-child > div:first-of-type p {
    font-weight: bold;
    color: hsl(229, 23%, 23%);
}

main > div:last-child > div:first-of-type span {
    color: hsl(227, 10%, 46%);
    margin-left: 5px;
}

main > div:last-child > div:first-of-type p:last-of-type {
    font-size: 16px;
    font-weight: normal;
    color: hsl(227, 10%, 46%);
}

main > div:last-child > div:last-of-type {
    display: flex;
    justify-content: space-evenly;
}

main > div:last-child > div:last-of-type div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
}

main > div:last-child > div:last-of-type div p:first-of-type {
    font-weight: bold;
    color: hsl(229, 23%, 23%);
}

main > div:last-child > div:last-of-type div p:last-of-type {
    font-size: 12px;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1.2px;
}